//defines

@import "defines.less";
//@import "fluidable.less";
@import "toolbar.less";
@import "table.less";
@import "transitions.less";

html { 
	//margin-left: ~"calc(100vw - 100%);" 
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    font-family: 'Yantramanav', cursive;
    color: #232323;
    position: relative;
    &.ui-modal--is-open{
    	overflow: initial!important;
    }
}


h1 > button{
	float: right;
	margin-right: 60px;
	margin-top: 5px!important;
}

//remove Firefox's dotted outline
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: 0!important;
    outline : 0!important;
}

input:focus, .pell-content:focus {
    outline: none!important;
    border-bottom: 1px dashed #87212e!important;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGO4s1Ux4PuImWPk5fSr6HPL3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGJkF8H8ye47wsfpWywda8og.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 400;
  src: local('Rambla'), local('Rambla-Regular'), url(https://fonts.gstatic.com/s/rambla/v4/GZTEaXDIXusVE6oBnx0iUH-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 400;
  src: local('Rambla'), local('Rambla-Regular'), url(https://fonts.gstatic.com/s/rambla/v4/_dOruQeaMX8CyCptDfrBKuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 400;
  src: local('Yantramanav Regular'), local('Yantramanav-Regular'), url(https://fonts.gstatic.com/s/yantramanav/v2/E1Z7InSGFB89Npehsy0O7KE8kM4xWR1_1bYURRojRGc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 400;
  src: local('Yantramanav Regular'), local('Yantramanav-Regular'), url(https://fonts.gstatic.com/s/yantramanav/v2/E1Z7InSGFB89Npehsy0O7Igp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


a {
	color: #232323;
	text-decoration:none;
	&:hover {
		//text-decoration:underline;
	    text-shadow: 0px 3px 5px rgba(0,0,0,0.3);
		color:#000000;
	}
}

h1 {
	margin: 1em 0 .5em 1em;
	text-transform: capitalize;
	&.ui-modal__header-text:after{display:none;} 
	&:after {
	    bottom: 10px;
	    display: block;
	    height: 3px;
	    width: 100%;
	    content: "";
	    background-color: #87212e;
	    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	}
}



//generic clases

.ui-button--color-saveForm {
	margin: 20px auto;
    display: block;
    color: #87212e;
}

.buttonLeft {
			margin: 0 32px;
}
.buttonFloatLeft {
		margin: 0 32px;
		float:left;
}
.buttonFloatRight {
		margin: 0 32px;
		float:right;
}


.textPositioned {
	margin: 0 0 .5em 5%;
	text-transform: capitalize;
}

.buttonGroupRight {
	display: flex;
    width: 100%;
    margin: 20px 0 0 0;
    justify-content: flex-end;
    button {
    	margin-left:10px;
    }
}

hr {
	margin: 20px 0 0 0;
	border:0;
    bottom: 10px;
    display: block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: #87212e;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}


#container {
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#app {
	max-width: 1188px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 40px #dedede;
    box-sizing: content-box;
    background-color:white;
    padding-top: 30px;
    margin-top: -20px;
    padding-bottom: 80px;
    min-height: ~"calc(100vh - 160px)";
	@media(max-width:@screenTablet) {
		min-height: ~"calc(100vh - 190px)";
	}
}

.VueCarousel-dot {
	@media(max-width:@screenMobile) {
		padding:5px!important;
	}
	
	.VueCarousel-dot-inner{
		@media(max-width:@screenMobile) {
			width:5px!important;
			height:5px!important;
		}
	}
}


.footer {
    transform: rotate(0deg);
    bottom: 0px;
    z-index: 19;
    margin-top: -20px;
    display: block!important;
    position: fixed;
    width: 100%;
    svg {
    	path{
    		fill: rgba(255, 255, 255, 0.5)!important;
    	}
    }
    
    .waveHorizontals {
    	transform: rotate(0deg);
    }
    .footerSpacer {
	    width: 100%;
	    background-color: white;
	    //position: absolute;
	    padding: 5px;
	    display: flex!important;
	    justify-content: space-around;
	    align-items: center;
	    flex-wrap: wrap;
	    position: relative;
	    z-index: 11;
	    box-shadow: 0px -20px 34px rgba(254, 254, 254, 0.8);
	    img {
	    	width: auto;
		    height: 100%;
		    max-height: 25px;
		    z-index:20;
		    transition: transform .5s ease;
		    &:hover{
		    	transform:scale(2) translateY(-20%);
		    }
	    }
	}
}



//fix keen ui switch button css
.ui-switch__thumb{
	z-index:1;	
}
.ui-switch__track {
	z-index:0;
}



.three-quarters-loader {
	animation: three-quarters-loader 1250ms infinite linear;
	//border:10px solid rgba(135, 33, 46, 0.56);
	//border-right-color: transparent;
    border-radius: 75px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
    width: 100px;
    height: 100px;
}

@keyframes three-quarters-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}