@import "defines";

.ui-tabs--text-color-active-primary .ui-tab-header-item.is-active, .ui-tabs--text-color-active-primary .ui-tab-header-item.is-active .ui-tab-header-item__icon {
    color: @fedcolor;
}
.ui-tabs--indicator-color-primary .ui-tabs__active-tab-indicator {
    background-color: @fedcolor;
    height: 3px;
}

.is-active .ui-textbox__label-text {
	color: @fedcolor!important;
}

.calendar-date-selected, .calendar-date-selected:hover {
    background:  @fedcolor!important;
}

.ui-select__search-input:focus+.ui-select__search-icon {
    color: @fedcolor!important;
}

.ui-select.is-active:not(.is-disabled) .ui-select__display {
    border-bottom-color: @fedcolor!important;
}
.ui-select.is-active:not(.is-disabled) .ui-select__icon-wrapper .ui-icon, .ui-select.is-active:not(.is-disabled) .ui-select__label-text {
    color: @fedcolor!important;
}
.ui-tabs__body {
    border: 0;
}

.ui-switch--color-primary.is-checked:not(.is-disabled) .ui-switch__thumb {
    background-color: @fedcolor;
}

.ui-radio-group:not(.is-disabled):not(.is-invalid).is-active .ui-radio-group__label-text {
    color: @fedcolor;
}

.ui-radio--color-primary.is-checked:not(.is-disabled) .ui-radio__inner-circle {
    background-color: @fedcolor;
}

.ui-radio--color-primary.is-checked:not(.is-disabled) .ui-radio__outer-circle {
    border-color: @fedcolor;
}

.ui-switch--color-primary.is-checked:not(.is-disabled) .ui-switch__track {
    background-color: rgba(135,33,45,.5);
}

.datepicker>input.focus {
    box-shadow: none;//0 0 5px rgba(135, 33, 45, .3);
}

.calendar-date:hover, .calendar-date-on {
    background: rgba(135,33,45,.1);
}

.ui-icon {
	&.green {
		color: green;
	}
	&.red {
		color: red;
	}
	&.fedcolor {
		color: @fedcolor;
	}
}	

.ui-fab--color-primary {
    background-color: @fedcolor!important;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0px!important;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: @fedcolor!important;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	right: 15px!important;
	background:initial!important;
	background-color:rgba(238,238,238,0.42)!important;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
	left:15px!important;
	background:initial!important;
	background-color:rgba(238,238,238,0.42)!important;
}

.swiper-button-prev, .swiper-button-next {
	width: 36px!important;
	height: 36px!important;
}

.swiper-container {
    padding-bottom: 15px!important;
}

.newsCarousel{
	.swiper-button-prev, .swiper-button-next {
		top: 35%!important;
		@media(max-width:640px){
			display:none!important;
		}
	}
}

.ui-button--color-fedpival  {
    background-color: @fedcolor;
    color:white;
}

.ui-icon-button--color-fedpival  {
    color: @fedcolor;
}

.ui-modal--size-largeSquare {
	.ui-modal__container{
    	width: 90%;
        @media(max-width:@screenTablet) {
    		height: 100%;
    		width: 100%;
		}
	}
}
.ui-select__display {
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: dashed;
}

.buttonContainer {
	text-align: right;
	display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top:10px;
}
.ui-button--color-blueButtonToRight {
	color:#87212e;
    margin-left: auto;
    display: block;
    margin-top: 10px;
}

.ui-button--color-customBlueRight{
	background-color:#117edd;
	color:white;
	display: block;
    margin-left: auto;
    margin-right: 0;
}

.ui-select{margin-top:10px;}

.is-invalid {
	.ui-textbox__label-text {
		color:#f44336!important;
	}
}


.ui-select__options {
    max-height: 12rem;
}

.formulari label {
	color: rgba(0,0,0,.54);
    font-size: .9375rem;
    line-height: normal;
    margin-bottom: 0;
    transform-origin: left;
    transition: color .1s ease,transform .2s ease;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica,Arial,sans-serif;
}

.datepicker {
    display: block;
    margin-bottom: 20px;
}

.contentFlex {
	display:flex;
	flex-wrap: wrap;
	padding: 1em 2em;
	
	.doubleColumn {
		column-count:2;
		column-gap: 40px;
		margin-top:10px;
		margin-left: 10px;
		width: 100%;
		@media(max-width:768px) {
			column-count:1;
			width: ~"calc(100vw - 85px)";
		}
		@media(max-width:480px){
			font-size: 80%;
		}
	}
	
	&.formulari {
		input{
			border-bottom: 1px dashed #ccc!important;

		}
		.datepicker {
			input {
				font-family:inherit!important;
				font-size:1em!important;
			}
		}

	}
	&.intern {
		padding: 1em 0 2em 0;
	}
	.left50 {
		width:50%;
		@media(max-width:@screenTablet) {
			width:100%;
		}
		.jugador {
		    width: 75%;
		    margin-left: 15%;
		    img {
		    	top:0;
		    	right:0;
		    	bottom:0;
		    	left:0;
		    	margin:auto;
		    	max-width:300px;
		    	@media(max-width:@screenTablet) {
		    		max-width:inherit;
		    	}
		    }
		}
		.uploader {
	    	text-align: center;
		    width: 75%;
		    margin-left: 15%;
		    color: #87212e;
		    font-weight: bold;
	    	input{cursor:pointer;}
	    }
	}

	
}

.ui-checkbox--color-primary.is-checked .ui-checkbox__checkmark:before {
    background-color: @fedcolor;
    border-color: @fedcolor;
}

.ui-toolbar__body.has-brand-divider {
    padding-left: 0;
}

.ui-textbox.is-active:not(.is-disabled) .ui-textbox__input,.ui-textbox.is-active:not(.is-disabled) .ui-textbox__textarea {
 border-bottom-color: @fedcolor;
 border-bottom-width: 2px;
}

.ui-textbox.is-active:not(.is-disabled) .ui-textbox__icon-wrapper .ui-icon,.ui-textbox.is-active:not(.is-disabled) .ui-textbox__label-text {
 color: @fedcolor;
}

.ui-modal__body{
	position:relative;
}


.ui-toolbar__brand-text {
	@media (max-width: 380px){
		    font-size: 0.7em;
	}
}

.ui-select {
    margin-bottom: 2rem;
}

.ui-tabs--indicator-color-primary .ui-tab-header-item::after {
    background-color: @fedcolor;
}

.ui-calendar--color-primary .ui-calendar__header {
    background-color: @fedcolor;
}

.ui-calendar--color-primary .ui-calendar-week__date.is-selected, body[modality="keyboard"] .ui-calendar--color-primary .ui-calendar-week__date.is-selected {
    background-color: @fedcolor;
}

.ui-calendar--color-primary .ui-calendar-week__date.is-today {
    color: @fedcolor;
}

.ui-datepicker.is-active:not(.is-disabled) .ui-datepicker__label-text, .ui-datepicker.is-active:not(.is-disabled) .ui-datepicker__icon-wrapper .ui-icon {
    color: @fedcolor;
}
.ui-datepicker.is-active:not(.is-disabled) .ui-datepicker__display {
    border-bottom-color:@fedcolor;
}