@import "defines";

.ui-tabs--text-color-active-primary .ui-tab-header-item.is-active, .ui-tabs--text-color-active-primary .ui-tab-header-item.is-active .ui-tab-header-item__icon {
    color: @fedcolor;
}
.ui-tabs--indicator-color-primary .ui-tabs__active-tab-indicator {
    background-color: @fedcolor;
    height: 3px;
}

.is-active .ui-textbox__label-text {
	color: @fedcolor!important;
}

.calendar-date-selected, .calendar-date-selected:hover {
    background:  @fedcolor!important;
}

.ui-select__search-input:focus+.ui-select__search-icon {
    color: @fedcolor!important;
}

.ui-select.is-active:not(.is-disabled) .ui-select__display {
    border-bottom-color: @fedcolor!important;
}
.ui-select.is-active:not(.is-disabled) .ui-select__icon-wrapper .ui-icon, .ui-select.is-active:not(.is-disabled) .ui-select__label-text {
    color: @fedcolor!important;
}
.ui-tabs__body {
    border: 0;
}

.ui-switch--color-primary.is-checked:not(.is-disabled) .ui-switch__thumb {
    background-color: @fedcolor;
}

.ui-radio-group:not(.is-disabled):not(.is-invalid).is-active .ui-radio-group__label-text {
    color: @fedcolor;
}

.ui-radio--color-primary.is-checked:not(.is-disabled) .ui-radio__inner-circle {
    background-color: @fedcolor;
}

.ui-radio--color-primary.is-checked:not(.is-disabled) .ui-radio__outer-circle {
    border-color: @fedcolor;
}

.ui-switch--color-primary.is-checked:not(.is-disabled) .ui-switch__track {
    background-color: rgba(135,33,45,.5);
}

.datepicker>input.focus {
    box-shadow: none;//0 0 5px rgba(135, 33, 45, .3);
}

.calendar-date:hover, .calendar-date-on {
    background: rgba(135,33,45,.1);;
}

.ui-icon {
	&.green {
		color: green;
	}
	&.red {
		color: red;
	}
	&.fedcolor {
		color: @fedcolor;
	}
}	
