//defines
@fedcolor: #87212e;
//font-family: 'Yantramanav', cursive;
//font-family: 'Rambla', sans-serif;

@import "fluidable.less";
@import "toolbar.less";

@font-face {
    font-family: 'bootcampregular';
    src: url('../fonts/bootcamp-regular-webfont.woff2') format('woff2'),
         url('../fonts/bootcamp-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html { //this is to avoid right scrollbar jump when it appears
    @media screen and (min-width: 960px) {
        width:100vw;
        overflow-x:hidden;
    }
} 

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    font-family: 'Yantramanav', cursive;
    color: #232323;
    position: relative;
}

//remove Firefox's dotted outline
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: 0!important;
    outline : 0!important;
}

*, *:before, *:after {
    box-sizing: border-box;
}

//vuejs transitions

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

#container {
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


